@font-face {
  font-family: "PizzaDuke";
  src: url("./PizzaDuke.otf");
}

@font-face {
  font-family: "Nickname";
  src: url("./nickname.otf");
}

.wrapper-complete {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80%;
}

body {
  margin: 0;
  background: #fff;
  font-family: Nickname;
  user-select: none;
}

.swal-modal .swal-text {
  text-align: center;
  font-family: Nickname, sans-serif;
}

.swal-overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

.swal-button--cancel {
  background-color: white !important;
  color: #ea272a;
  border: 2px solid #ea272a;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  height: 37px;
  font-family: Nickname, sans-serif;

  &:focus {
    box-shadow: unset;
  }
}

.swal-footer {
  text-align: center;

  .swal-button--confirm {
    background-image: url("./bgButton.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    font-family: Nickname, sans-serif;
    font-size: 20px;

    &:focus {
      box-shadow: unset;
    }
  }
}

.swal-modal {
  // border: 15px solid rgb(219, 39, 39);

  border-style: solid;
  border-radius: 15px;
  background: linear-gradient(#fff, #fff) padding-box,
    /*this is your grey background*/
      radial-gradient(rgb(0, 0, 0), rgb(219, 39, 39)) border-box;
  padding: 10px;
  border: 15px solid transparent;
  border-radius: 5px;
  background-color: white;

  &:after {
    border-radius: 25px;
  }
}

.swal-title {
  color: rgb(219, 39, 39);
}

.device {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .device {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    object-fit: contain;
  }

  .game-section {
    display: block;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  .device {
    display: none;
  }

  .game-section {
    display: block;
  }
}

.logo-main {
  img {
    width: 70px;
    height: 70px;
  }
}

.logo-main2 {
  position: absolute;
  top: 0;
  right: 25px;
  display: none;

  img {
    width: 60px;
    height: 60px;
  }
}

.logo {
  img {
    width: 50px;
    height: 50px;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  .smoking-image-wrapper {
    margin-left: 10px;
    img {
      width: 55px;
      height: 50px;
      object-fit: contain;
    }
  }

  .info-footer-wrapper {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Arial";
    font-weight: bold;

    .title {
      font-size: 13px;
    }

    .description {
      // padding-top: 2px;
      font-size: 10px;
      padding: 2px 10px;
    }
  }

  .logo-mini {
    margin-right: 10px;
    img {
      width: 40px;
      height: 50px;
      object-fit: contain;
    }
  }
}

#preview {
  display: none;
}

//background
#lContainer {
  top: unset !important;
  left: unset !important;
  bottom: 10% !important;
}
#gameContainer {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  // top: -123px;
  // left: 267px;
}

#wcont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 20px;
  padding-top: 50px !important;
}

#coinDiv {
  display: none !important;
}

#shuffle {
  display: none;
}

#hint {
  display: none;
}

button {
  cursor: pointer;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
#container {
  position: absolute;
  background: transparent;
  z-index: -2;
  overflow: hidden;
  // background-color: white;
  background-image: url("./bg.png") !important;
  background-size: cover;
  display: none;

  left: unset !important;
  top: unset !important;
  width: 100% !important;
  height: 100% !important;
}
#c {
  background: transparent;
  z-index: 10;
  position: absolute;
  top: 0;
}
#lContainer {
  position: absolute;
  z-index: -1;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  transform: scale(1) rotate(0);
}

.endButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.texttesting1 {
  text-align: left;
}

.texttesting2 {
  text-align: left;
}

.quotes-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.reverse {
  flex-direction: column-reverse !important;
}

#levelDiv {
  opacity: 0;
}

.l {
  // padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 20%;
  background-image: url("./bgword.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  // background: #ea272a;
  position: absolute;
  top: 0;
  font-size: 33px;
  text-align: center;
  font-weight: 800;
  color: #fff;
  // padding: 0;
  border-radius: 3px;
  // box-shadow: 0px 3px 2px 0px #000;
  transition: transform 0.1s linear;
  text-transform: uppercase;

  &.shake {
    animation: shake 0.5s;
  }
}

.hide {
  display: none;
}

#preview {
  position: absolute;
  top: -60px;
  left: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  span {
    background: rgba(240, 240, 240, 0.8);
    display: none;
    padding: 5px 20px;
    color: #666;
    font-size: 20px;
    font-weight: 700;
    border-radius: 50px;
    border: 1px solid #000;
  }
}
#wContainer {
  text-align: center;
  width: 100%;
  min-height: 100px;
  position: absolute;
  z-index: -1;
}
#topBar {
  text-align: center;
  margin: 0;
  padding: 0;
}
#levelDiv {
  margin: 5px 0;
  transition: all 0.5s linear;
  transform: translateY(-300px);
}
#level {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  padding: 4px 35px;
  color: #fff;
  border-radius: 15px;
  font-weight: 800;
}
.word {
  height: 30px;
  margin: 6px;
  margin-bottom: 10px;
  display: flex;
  justify-content: left;
  align-items: flex-end;
}
#wcont {
  padding-top: 15px;
}
.wl {
  // height: 27px;
  // width: 30px;
  height: 25px;
  width: 25px;
  background: white;
  border: 1px solid #ea272a;
  display: inline-block;
  margin: 0 3px;
  padding-top: 3px;
  border-radius: 4px;
  color: transparent;
  transition: transform 0.8s ease-in, opacity 0.8s ease-out;

  &.type-space {
    background-color: transparent;
    border-color: transparent;
    width: 15px;
  }
}
.wld {
  height: 25px;
  width: 25px;
  background: rgba(0, 0, 0, 0.3);
  display: inline-block;
  margin: 0 3px;
  padding-top: 3px;
  border-radius: 4px;
  color: transparent;
  transition: transform 0.8s ease-in, opacity 0.8s ease-out;
  background: white;
  border: 1px solid #ea272a;
  box-shadow: 0px 2px 1px 0px #000;
  position: relative;
  top: 0;
  margin: 0 3px;
  color: #ea272a;
  animation: anim1 0.5s ease-out;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 800;
}
#bda {
  span {
    display: inline-block;
    position: absolute;
    top: 100%;
    font-size: 35px;
    opacity: 0.5;
    left: 50px;
    z-index: -3;
  }
}

audio {
  display: none;
}

.points-wrapper {
  text-align: center;
  background-color: red;
  width: 25%;
  height: 3.5%;
  position: absolute;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
  bottom: 4em;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: none;
}
#over {
  position: absolute;
  height: 100%;
  width: 100%;
  background: transparent;
  top: 0;
  text-align: center;
  display: block;
  z-index: 100;
}
#title {
  font-size: 45px;
  font-weight: 900;
  font-family: Nickname, sans-serif;
  -webkit-background-clip: text;
  color: black;
}
#complete {
  font-size: 45px;
  font-weight: 900;
  font-family: Nickname;
  background: -webKit-linear-gradient(bottom left, #99f714, #fff, #ea1444);
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  margin: 1.5em 0 0;
  // margin: 50px 0 0;
  font-size: 33px;
  color: #fff;
}
#nextBtnCnt {
  display: block;
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 15%;
  button {
    background: #08ae26;
  }
}
#nextBtn {
  background: -WebKit-linear-gradient(
    top left,
    #08ae26,
    #08ae26,
    #31dd52
  ) !important;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 22px;
  font-weight: 600;
  padding: 10px 45px;
  box-shadow: 3px 3px 10px 0px #000;
  outline: none;
  min-width: 200px;
  display: none;
  &:hover {
    box-shadow: 0px 0px 10px 0px #000;
  }
}
#st {
  background-color: white !important;
  color: #ea272a;
  border: 2px solid #ea272a;
  border-radius: 5px;
  font-size: 22px;
  font-weight: 600;
  padding: 10px 45px;
  box-shadow: 3px 3px 10px 0px #000;
  outline: none;
  margin-bottom: 25px;
  min-width: 200px;
  font-family: Nickname, sans-serif;
}
#levelBtn {
  background: -WebKit-linear-gradient(
    top left,
    #08ae26,
    #08ae26,
    #31dd52
  ) !important;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 22px;
  font-weight: 600;
  padding: 10px 45px;
  box-shadow: 3px 3px 10px 0px #000;
  outline: none;
  min-width: 200px;
  background: -WebKit-linear-gradient(top left, #f5aa27, #ef9e00) !important;
  display: none;
}
#levelBtnCnt {
  position: absolute;
  width: 100%;
  top: -150%;
  margin: 0;
  padding: 0;
  button {
    background: orange;
  }
}
#levelCnt {
  position: absolute;
  background: transparent;
  top: 0;
  left: 0;
  padding-top: 70px;
  padding-bottom: 50px;
  overflow-y: scroll;
  height: 65%;
  display: none;
  -ms-overflow-style: none;
  button {
    background: #08ae26;
  }
}
#levelList {
  padding: 0px 20px;
}
#levelTitle {
  position: absolute;
  top: 0;
  width: 100%;
  button {
    margin: 20px;
    background: -WebKit-linear-gradient(
      top left,
      #08ae26,
      #08ae26,
      #31dd52
    ) !important;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 30px;
    box-shadow: 3px 3px 10px 0px #000;
    outline: none;
  }
}

#board1 {
  color: #505050;
  background-color: rgb(226, 226, 226);
  border-radius: 5px;
  text-align: justify;
  // width: 45%;
  width: 60%;
  font-size: 20px;
  height: 28px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.type-reverse {
    flex-direction: column-reverse;
  }
}

.board {
  z-index: 99999;
  position: relative;
  // height: 100%;
  // left: 0;
  // right: 0;
}

.leaderboard {
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
}

#board2 {
  color: white;
  background-color: #ea272a;
  border-radius: 5px;
  text-align: justify;
  // width: 50%;
  width: 70%;
  font-size: 22px;
  height: 28px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#end {
  background-color: white !important;
  color: #ea272a;
  border: 2px solid #ea272a;
  border-radius: 5px;
  font-size: 22px;
  font-weight: 600;
  padding: 10px 45px;
  -webkit-box-shadow: 3px 3px 10px 0px #000;
  box-shadow: 3px 3px 10px 0px #000;
  outline: none;
  margin-bottom: 10px;
  min-width: 150;
  margin-top: 20px;
  font-family: Nickname, sans-serif;
  height: 43px;
}

#ml {
  background-color: white !important;
  color: #ea272a;
  border: 2px solid #ea272a;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  padding: 0 35px;
  -webkit-box-shadow: 3px 3px 10px 0px #000;
  box-shadow: 3px 3px 10px 0px #000;
  outline: none;
  margin-bottom: 10px;
  min-width: 150;
  margin-top: 20px;
  font-family: Nickname, sans-serif;
  height: 43px;
}

.wrapper-logo {
  width: 100%;
  position: relative;
  z-index: 120;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  padding: 0 10px;
}
#buttonBack {
  z-index: 999;
  margin-bottom: 22px;
  margin: 20px;
  background-image: url("./bgButton.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  font-family: Nickname, sans-serif;
  font-size: 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  padding: 5px 30px;
  outline: none;
}
#levelBack {
  position: fixed;
  bottom: 0;
  width: 100%;
  button {
    margin-bottom: 22px;
    margin: 20px;
    background: -WebKit-linear-gradient(
      top left,
      #08ae26,
      #08ae26,
      #31dd52
    ) !important;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 30px;
    box-shadow: 3px 3px 10px 0px #000;
    outline: none;
  }
}
.level {
  height: 70px;
  width: 70px;
  margin: 3px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #fff;
  color: #fff;
  font-size: 12px;
  border: 1px solid orange;
  position: relative;
  overflow: hidden;
}
.lt {
  display: inline-block;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  left: 0;
  background: orange;
  height: 18px;
  font-weight: 700;
  padding-top: 4px;
  border-radius: 4px 4px 0 0;
}
.cn {
  display: inline-block;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  left: 0;
  background: orange;
  height: 18px;
  font-weight: 700;
  padding-top: 4px;
  border-radius: 4px 4px 0 0;
  top: 22px;
  background: #fff;
  color: #08ae26;
  padding-top: 10px;
}
.st {
  display: inline-block;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  left: 0;
  background: orange;
  height: 18px;
  font-weight: 700;
  padding-top: 4px;
  border-radius: 4px 4px 0 0;
  top: auto;
  bottom: 0;
  background: #fff;
  font-size: 12px;
  color: orange;
}
.finish {
  background: red;
}
#star {
  position: absolute;
  top: 40%;
  width: 100%;
  font-size: 40px;
  letter-spacing: 7px;
  span {
    opacity: 1;
    display: inline-block;
    animation: anim3 0.9s ease-in-out 5;
  }
}
#starbg {
  position: absolute;
  top: 40%;
  width: 100%;
  font-size: 40px;
  letter-spacing: 7px;
  opacity: 0.35;
}
#starCnt {
  display: none;
}
#shuffle {
  position: absolute;
  bottom: 15px;
  z-index: 1;
  font-size: 30px;
  border: 2px solid #09f;
  border-radius: 10px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.8);
  transition: all 0.5s ease-in;
  left: 20px;
  transform: translateX(-100px);
}
#hint {
  position: absolute;
  bottom: 15px;
  z-index: 1;
  font-size: 30px;
  border: 2px solid #09f;
  border-radius: 10px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.8);
  transition: all 0.5s ease-in;
  right: 20px;
  transform: translateX(100px);
}
#coinDiv {
  position: absolute;
  right: 5px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  height: 30px;
  color: #fff;
}
#coin {
  padding: 0px 18px 7px 10px;
  transform: translateY(-4px);
  display: inline-block;
  span {
    animation: anim3 0.5s linear 1;
    display: inline-block;
  }
}
#coinSign {
  display: inline-block;
  background: rgba(255, 255, 255, 1);
  height: 30px;
  width: 30px;
  padding: 3px 5px 5px 3px;
  border-radius: 50%;
  font-size: 26px;
  position: relative;
  top: -4px;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
