@font-face {
  font-family: "PizzaDuke";
  src: url("./pizzaduke.otf");
}

.device {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .device {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100vh;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .game-section {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  .device {
    display: none;
  }
  .game-section {
    display: block;
  }
}

body {
  margin: 0;
  background: #fff;
  font-family: arial;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "PizzaDuke" !important;
}

.logo-main img {
  width: 70px;
  height: 70px;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
}

.logo img {
  width: 50px;
  height: 50px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer .smoking-image-wrapper {
  margin-left: 10px;
}

.footer .smoking-image-wrapper img {
  width: 75px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer .info-footer-wrapper {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer .info-footer-wrapper .description {
  padding-top: 2px;
  font-size: 10px;
}

.footer .logo-mini {
  margin-right: 10px;
}

.footer .logo-mini img {
  width: 75px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

#preview {
  display: none;
}

.points-wrapper {
  text-align: center;
  background-color: red;
  width: 15%;
  height: 8%;
  position: absolute;
  bottom: 70px;
  left: 45%;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3px;
}

#lContainer {
  top: unset !important;
  left: unset !important;
  bottom: 10% !important;
}

#gameContainer {
  position: absolute;
  top: -108px;
}

@media screen and (min-width: 568px) and (max-width: 568px) {
  #gameContainer {
    top: -50%;
    right: -11%;
  }
}

@media screen and (min-width: 731px) and (max-width: 731px) {
  #gameContainer {
    top: -122px;
    left: 50.4% !important;
  }
}

@media screen and (min-width: 823px) and (max-width: 823px) {
  #gameContainer {
    top: -125px;
    left: 56.5333% !important;
  }
}

#wcont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 20px;
  padding-top: 50px !important;
}

#coinDiv {
  display: none !important;
}

#shuffle {
  display: none;
}

#hint {
  display: none;
}

button {
  cursor: pointer;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container {
  position: absolute;
  background: transparent;
  z-index: -2;
  overflow: hidden;
  background-image: url("./bg.png") !important;
  background-size: cover;
  display: none;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
  height: 100% !important;
}

#c {
  background: transparent;
  z-index: 10;
  position: absolute;
  top: 0;
}

#lContainer {
  position: absolute;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
  -webkit-transform: scale(0) rotate(0);
          transform: scale(0) rotate(0);
}

#levelDiv {
  opacity: 0;
}

.l {
  height: 25%;
  width: 25%;
  background: #ea272a;
  position: absolute;
  top: 0;
  font-size: 40px;
  text-align: center;
  font-weight: 800;
  color: #fff;
  padding: 0;
  border-radius: 3px;
  -webkit-box-shadow: 0px 3px 2px 0px #000;
          box-shadow: 0px 3px 2px 0px #000;
  -webkit-transition: -webkit-transform 0.1s linear;
  transition: -webkit-transform 0.1s linear;
  transition: transform 0.1s linear;
  transition: transform 0.1s linear, -webkit-transform 0.1s linear;
  text-transform: uppercase;
}

#l1 {
  top: -55px;
  left: 106.5%;
}

@media screen and (min-width: 731px) and (max-width: 736px) {
  #l1 {
    background-color: red;
    top: -2em;
    right: -3em;
    left: unset;
  }
}

@media screen and (min-width: 823px) and (max-width: 823px) {
  #l1 {
    left: unset;
    top: -5rem;
    right: -10.5rem;
  }
}

@media screen and (min-width: 667px) and (max-width: 667px) {
  #l1 {
    top: -65px;
    left: 113.5%;
  }
}

@media screen and (min-width: 812px) and (max-width: 812px) {
  #l1 {
    left: unset;
    top: -3.2rem;
    right: -10.2rem;
  }
}

#l2 {
  left: 151px;
  top: 4%;
}

@media screen and (min-width: 731px) and (max-width: 736px) {
  #l2 {
    top: 0em;
    right: -1em;
    left: unset;
  }
}

@media screen and (min-width: 823px) and (max-width: 823px) {
  #l2 {
    top: 0;
    right: -5.5rem;
    left: unset;
  }
}

@media screen and (min-width: 667px) and (max-width: 667px) {
  #l2 {
    left: 167px;
    top: 4%;
  }
}

@media screen and (min-width: 812px) and (max-width: 812px) {
  #l2 {
    right: -2em;
    left: unset;
  }
}

#l3 {
  top: 4%;
  right: -151px;
}

@media screen and (min-width: 731px) and (max-width: 736px) {
  #l3 {
    top: 0;
    right: -5em;
  }
}

@media screen and (min-width: 823px) and (max-width: 823px) {
  #l3 {
    top: 0;
    right: -16rem;
  }
}

@media screen and (min-width: 667px) and (max-width: 667px) {
  #l3 {
    top: 4%;
    right: -162px;
  }
}

@media screen and (min-width: 812px) and (max-width: 812px) {
  #l3 {
    right: -15rem;
  }
}

#l4 {
  top: 48%;
  left: 80.5%;
}

@media screen and (min-width: 731px) and (max-width: 736px) {
  #l4 {
    top: 2.5em;
    left: unset;
    right: -1.5em;
  }
}

@media screen and (min-width: 823px) and (max-width: 823px) {
  #l4 {
    top: 6rem;
    left: unset;
    right: -7rem;
  }
}

@media screen and (min-width: 667px) and (max-width: 667px) {
  #l4 {
    top: 48%;
    left: 87.5%;
  }
}

@media screen and (min-width: 812px) and (max-width: 812px) {
  #l4 {
    top: 7rem;
    left: unset;
    right: -6.5rem;
  }
}

#l5 {
  top: 48%;
  right: -55.5%;
}

@media screen and (min-width: 731px) and (max-width: 736px) {
  #l5 {
    top: 2.5em;
    right: -4.5em;
  }
}

@media screen and (min-width: 823px) and (max-width: 823px) {
  #l5 {
    top: 6rem;
    right: -14rem;
  }
}

@media screen and (min-width: 667px) and (max-width: 667px) {
  #l5 {
    top: 48%;
    right: -64.5%;
  }
}

@media screen and (min-width: 812px) and (max-width: 812px) {
  #l5 {
    top: 7rem;
    right: -14rem;
  }
}

#preview {
  position: absolute;
  top: -60px;
  left: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

#preview span {
  background: rgba(240, 240, 240, 0.8);
  display: none;
  padding: 5px 20px;
  color: #666;
  font-size: 20px;
  font-weight: 700;
  border-radius: 50px;
  border: 1px solid #000;
}

#wContainer {
  text-align: center;
  width: 100%;
  min-height: 100px;
  position: absolute;
  z-index: -1;
}

#topBar {
  text-align: center;
  margin: 0;
  padding: 0;
}

#levelDiv {
  margin: 5px 0;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
}

#level {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  padding: 4px 35px;
  color: #fff;
  border-radius: 15px;
  font-weight: 800;
}

.word {
  height: 30px;
  margin: 6px;
}

#wcont {
  padding-top: 15px;
}

.wl {
  height: 27px;
  width: 30px;
  background: white;
  border: 1px solid #ea272a;
  display: inline-block;
  margin: 0 3px;
  padding-top: 3px;
  border-radius: 4px;
  color: transparent;
  -webkit-transition: opacity 0.8s ease-out, -webkit-transform 0.8s ease-in;
  transition: opacity 0.8s ease-out, -webkit-transform 0.8s ease-in;
  transition: transform 0.8s ease-in, opacity 0.8s ease-out;
  transition: transform 0.8s ease-in, opacity 0.8s ease-out, -webkit-transform 0.8s ease-in;
}

.wld {
  height: 27px;
  width: 30px;
  background: rgba(0, 0, 0, 0.3);
  display: inline-block;
  margin: 0 3px;
  padding-top: 3px;
  border-radius: 4px;
  color: transparent;
  -webkit-transition: opacity 0.8s ease-out, -webkit-transform 0.8s ease-in;
  transition: opacity 0.8s ease-out, -webkit-transform 0.8s ease-in;
  transition: transform 0.8s ease-in, opacity 0.8s ease-out;
  transition: transform 0.8s ease-in, opacity 0.8s ease-out, -webkit-transform 0.8s ease-in;
  background: white;
  border: 1px solid #ea272a;
  -webkit-box-shadow: 0px 2px 1px 0px #000;
          box-shadow: 0px 2px 1px 0px #000;
  position: relative;
  top: 0;
  margin: 0 3px;
  color: #ea272a;
  -webkit-animation: anim1 0.5s ease-out;
          animation: anim1 0.5s ease-out;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 800;
}

#bda span {
  display: inline-block;
  position: absolute;
  top: 100%;
  font-size: 35px;
  opacity: 0.5;
  left: 50px;
  z-index: -3;
}

#over {
  position: absolute;
  height: 100%;
  width: 100%;
  background: transparent;
  top: 0;
  text-align: center;
  display: block;
}

#title {
  font-size: 45px;
  font-weight: 900;
  -webkit-background-clip: text;
  color: black;
}

#complete {
  font-size: 45px;
  font-weight: 900;
  background: -webKit-linear-gradient(bottom left, #99f714, #fff, #ea1444);
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  margin: 50px 0 0;
  font-size: 33px;
  color: #fff;
}

#nextBtnCnt {
  display: block;
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 15%;
}

#nextBtnCnt button {
  background: #08ae26;
}

#nextBtn {
  background: -WebKit-linear-gradient(top left, #08ae26, #08ae26, #31dd52) !important;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 22px;
  font-weight: 600;
  padding: 10px 45px;
  -webkit-box-shadow: 3px 3px 10px 0px #000;
          box-shadow: 3px 3px 10px 0px #000;
  outline: none;
  min-width: 200px;
  display: none;
}

#nextBtn:hover {
  -webkit-box-shadow: 0px 0px 10px 0px #000;
          box-shadow: 0px 0px 10px 0px #000;
}

#st {
  background-color: white !important;
  color: #ea272a;
  border: 2px solid #ea272a;
  border-radius: 5px;
  font-size: 22px;
  font-weight: 600;
  padding: 10px 45px;
  -webkit-box-shadow: 3px 3px 10px 0px #000;
          box-shadow: 3px 3px 10px 0px #000;
  outline: none;
  margin-bottom: 25px;
  min-width: 200px;
}

#levelBtn {
  background: -WebKit-linear-gradient(top left, #08ae26, #08ae26, #31dd52) !important;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 22px;
  font-weight: 600;
  padding: 10px 45px;
  -webkit-box-shadow: 3px 3px 10px 0px #000;
          box-shadow: 3px 3px 10px 0px #000;
  outline: none;
  min-width: 200px;
  background: -WebKit-linear-gradient(top left, #f5aa27, #ef9e00) !important;
  display: none;
}

#levelBtnCnt {
  position: absolute;
  width: 100%;
  top: -150%;
  margin: 0;
  padding: 0;
}

#levelBtnCnt button {
  background: orange;
}

#levelCnt {
  position: absolute;
  background: transparent;
  top: 0;
  left: 0;
  padding-top: 70px;
  padding-bottom: 50px;
  overflow-y: scroll;
  height: 65%;
  display: none;
  -ms-overflow-style: none;
}

#levelCnt button {
  background: #08ae26;
}

#levelList {
  padding: 0px 20px;
}

#levelTitle {
  position: absolute;
  top: 0;
  width: 100%;
}

#levelTitle button {
  margin: 20px;
  background: -WebKit-linear-gradient(top left, #08ae26, #08ae26, #31dd52) !important;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 30px;
  -webkit-box-shadow: 3px 3px 10px 0px #000;
          box-shadow: 3px 3px 10px 0px #000;
  outline: none;
}

#levelBack {
  position: fixed;
  bottom: 0;
  width: 100%;
}

#levelBack button {
  margin-bottom: 22px;
  margin: 20px;
  background: -WebKit-linear-gradient(top left, #08ae26, #08ae26, #31dd52) !important;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 30px;
  -webkit-box-shadow: 3px 3px 10px 0px #000;
          box-shadow: 3px 3px 10px 0px #000;
  outline: none;
}

.level {
  height: 70px;
  width: 70px;
  margin: 3px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #fff;
  color: #fff;
  font-size: 12px;
  border: 1px solid orange;
  position: relative;
  overflow: hidden;
}

.lt {
  display: inline-block;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  left: 0;
  background: orange;
  height: 18px;
  font-weight: 700;
  padding-top: 4px;
  border-radius: 4px 4px 0 0;
}

.cn {
  display: inline-block;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  left: 0;
  background: orange;
  height: 18px;
  font-weight: 700;
  padding-top: 4px;
  border-radius: 4px 4px 0 0;
  top: 22px;
  background: #fff;
  color: #08ae26;
  padding-top: 10px;
}

.st {
  display: inline-block;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  left: 0;
  background: orange;
  height: 18px;
  font-weight: 700;
  padding-top: 4px;
  border-radius: 4px 4px 0 0;
  top: auto;
  bottom: 0;
  background: #fff;
  font-size: 12px;
  color: orange;
}

.finish {
  background: red;
}

#star {
  position: absolute;
  top: 40%;
  width: 100%;
  font-size: 40px;
  letter-spacing: 7px;
}

#star span {
  opacity: 1;
  display: inline-block;
  -webkit-animation: anim3 0.9s ease-in-out 5;
          animation: anim3 0.9s ease-in-out 5;
}

#starbg {
  position: absolute;
  top: 40%;
  width: 100%;
  font-size: 40px;
  letter-spacing: 7px;
  opacity: 0.35;
}

#starCnt {
  display: none;
}

#shuffle {
  position: absolute;
  bottom: 15px;
  z-index: 1;
  font-size: 30px;
  border: 2px solid #09f;
  border-radius: 10px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  left: 20px;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
}

#hint {
  position: absolute;
  bottom: 15px;
  z-index: 1;
  font-size: 30px;
  border: 2px solid #09f;
  border-radius: 10px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  right: 20px;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

#coinDiv {
  position: absolute;
  right: 5px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  height: 30px;
  color: #fff;
}

#coin {
  padding: 0px 18px 7px 10px;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  display: inline-block;
}

#coin span {
  -webkit-animation: anim3 0.5s linear 1;
          animation: anim3 0.5s linear 1;
  display: inline-block;
}

#coinSign {
  display: inline-block;
  background: white;
  height: 30px;
  width: 30px;
  padding: 3px 5px 5px 3px;
  border-radius: 50%;
  font-size: 26px;
  position: relative;
  top: -4px;
}
/*# sourceMappingURL=style.css.map */